<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/7398/7398946.png" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <title>New Event</title>
    <link rel="stylesheet" href="../static/style7.css">

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATSF8hBEDLvvVO3FROyfN30o1cYwSan_M&libraries=places&callback=initAutocomplete"
        type="text/javascript"></script>

    <script defer>
        let autocomplete;
        function initAutocomplete() {
            autocomplete = new google.maps.places.Autocomplete(document.getElementById('ac-location'), {
                fields: ['place_id', 'geometry', 'name']
            })
        }
    </script>

    

</head>
<body class="container">
    <nav>
        <a class="page-navigation-link" href="/">Home</a>
        
        <span class="current-page">New</span>
        <a class="page-navigation-link" href="/search">Search</a>
        <a class="page-navigation-link" href="/profile">Account</a>
    </nav>


    <main>
        <h1>Create an Event</h1>
        <form action="/createEvent" method="post">
            <div class="input-container">
                <i class="fa fa-align-left"></i>
                <label for="name"></label>
                <input type="text" name="name" placeholder="Event name"  >
            </div> 
            <div>
                    {% with messages = get_flashed_messages(category_filter=["name"]) %}
            {% if messages %}
                {% for message in messages %}
                    <p class="text-danger">{{message}}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}  
            </div>
            <div class="input-container">
                <i class="fa fa-map"></i>
                <label for="location"></label>
                <input id="ac-location" type="text" name="location" placeholder="Location">
            </div> 
            <div class="input-container">
                <i class="fa fa-calendar"></i>
                <label for="date"></label>
                <input type="date" name="date" >
            </div> 
            <!-- <div>
                {% with messages = get_flashed_messages(category_filter=["date"]) %}
            {% if messages %}
                {% for message in messages %}
                    <p class="text-danger">{{message}}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}  
            </div> -->
            <div class="input-container">
                <i class="fa fa-calendar"></i>
                <label for="time"></label>
                <input type="time" name="time"  placeholder="Time">
            </div> 
            <div class="input-container">
                <i class="fa fa-align-left"></i>
                <label for="information"></label>
                <input type="text" name="information" placeholder="Some more infos" >
            </div> 
            <div>
                    {% with messages = get_flashed_messages(category_filter=["information"]) %}
            {% if messages %}
                {% for message in messages %}
                    <p class="text-danger">{{message}}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}  
            </div>
            <div class="input-container">
                <i class="fa fa-user"></i>
                <label for="playerNr"></label>
                <input type="number" name="playerNr" placeholder="Members">
            </div> 
            <!-- <div>
                    {% with messages = get_flashed_messages(category_filter=["playerNr"]) %}
            {% if messages %}
                {% for message in messages %}
                    <p class="text-danger">{{message}}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}  
            </div> -->
            <div class="input-container">
                <i class="fa fa-futbol-o"></i>
                <label for="type"></label>
                <input type="text" name="type" placeholder="Type of event">
            </div> 
            <div>
                    {% with messages = get_flashed_messages(category_filter=["type"]) %}
            {% if messages %}
                {% for message in messages %}
                    <p class="text-danger">{{message}}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}  
            </div>
            <button type="submit">Create</button>
            <!-- <input class="mt-2 btn btn-success" type="submit" value="Create Event"> -->
        </form>
    </div>
</body>
</html>