<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/7398/7398946.png" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <title>New Event</title>
    <link rel="stylesheet" href="../static/style8.css">

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATSF8hBEDLvvVO3FROyfN30o1cYwSan_M"
    type="text/javascript"></script>

    <script defer>
        fetch("https://maps.googleapis.com/maps/api/geocode/json?address={{event.location.replace(" ","+")}}&key=AIzaSyATSF8hBEDLvvVO3FROyfN30o1cYwSan_M")
        .then(res => {return res.json()})
        .then(data => initMap(data.results[0].geometry.location.lat, data.results[0].geometry.location.lng))

        function initMap(latitude, longtitude) {
            const map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: latitude, lng: longtitude },
                zoom: 18,
                disableDefaultUI: true
            });

            new google.maps.Marker({
                position: { lat: latitude, lng: longtitude },
                map,
                title: "{{event.location}}",
            });
        }

        window.initMap = initMap;
    </script>
</head>
<body class="container">
    <nav>
        <a href="/" class="page-navigation-link">Home</a>
        <span class="current-page" >New</span>
        <a class="page-navigation-link" href="/search">Search</a>
        <a class="page-navigation-link" href="/profile">Account</a>
    </nav>
    <div class="mt-5" style="display: grid;grid-template-columns: 1fr 1fr;">
        <div>
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#event-date">Event Date</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#information">Information</a></li>
                <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#users">Users</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="event-date">
                    <h3 class="pl-3">Title {{event.name}}</h3>
                    <h3 class="pr-3">Date {{event.date}}</h3>
                    <h3 class="pr-3">Time {{event.time}}</h3>
                </div>
                <div class="tab-pane" id="information">
                    <h3>{{event.information}}</h3>
                </div>
                <div class="tab-pane" id="users">
                    <h3 class="pt-5px">All joined users:</h3>
                    {% for u in users%}
                    <h3>{{u}}</h3>
                    {%endfor%}
                </div>
            </div>
        </div>
        <div class="container p-5 rounded">
            <div id="map" style="width:100%; height:500px; border-radius: 12px;"></div>
        </div>
    </div>
    {% if event.id  in userJoindEvents %}
    <div class="container border mt-5 p-4 rounded">
    <h2>Messages</h2>
    
    <div class="pt-3">
        <ul>
    {%for m in messages %}
    {% if m.event_id==data['event_id'] %}
        <h3 >{{m.firstName}} {{m.lastName}}: {{m.content}}</h3>
    {%endif%}
    {% endfor%}</ul>
    </div>
    

    <div class="pt-3">
        <form action="/createMessage/{{event.id}}" method="post">
            <input type="text" name="content" placeholder="Write your message here">
            <input type="submit" value="Sent">
        </form>
    </div>
</div >
<div>
    {% with messages = get_flashed_messages(category_filter=["content"]) %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="text-info">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
</div>
{%endif%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous">
    </script>
</body>
</html>